@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-image: url(../img/R.png);
    background-size: cover;
}

h2{
    font-family: 'Bebas Neue', cursive;
}

